.delete_All{
	float:left;
        padding-bottom: 10px;
}
.sort_both{
    background: url("../img/datatables/sort_both.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.sort_asc{
    margin-top: 6px;
}
.sort_desc{
   margin-top: -10px;
}
i.table_view{
    background: url("../img/lens.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 13px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.main_detail{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.sub_main{
    float: left;
    width: 100%;
    padding:10px
}
.detail_label{
    float: left;
    font-weight: bold;
    width: 20%;
}
.detail_data{
    float: right;
    width: 80%;
}
.table-condensed{
    width: 100%;
}
.view_anchr{
    text-decoration: none !important;
    color: #415060;
    
}
.unauth{
    padding: 20px;
}
.error-star {
    color: #FF0000;
    padding-left: 3px;
}
.cls_action {
    float: right;
    width: 23%;
}
.cls_module {
    float: left;
    padding: 10px;
    width: 100%;
}

.cls_module_action {
    float: left;
    width: 14%;
}
.cls_module_name {
    color: #696D73;
    font-size: 14px;
    font-weight: bold;
}
.role_frm_type {
    float: left;
    width: 40%;
}

.admin_company_list {
    float: right;
    width: 60%;
}
.role_main {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
.cls_module_action label{
    float: right;
    padding-top: 2px;
    width: 84%;
}
.select_unselect{
    float: right;
    padding-top: 4px;
    width: 98%;
}
.role_allchk{
    
}
.field-box img{
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

.pagelist-header {
    margin-bottom: 5px;
}
.label-info{
     background-color: #C17390;
}
.back_bottom{
    color: #000000;
    cursor: pointer;
    padding: 14px;
    text-decoration: none;
}